body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0066;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.login-box {
    background: #fff;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-logo {
    width: 80px;
    margin-bottom: 1rem;
    background-color: #0056b3;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin: 0;
    color: #333;
}

.login-box p {
    color: #666;
    margin-bottom: 2rem;
}

/* Input Group Container */
.input-group {
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
}

/* Input Fields */
.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Login Button */
.login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #d93025;
    margin-top: 1rem;
    min-height: 1em;
}

/* Botão de Cadastro Novo Usuário */
.btn-cadastrar-usuario {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #ffffff;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
}

.login-footer {
    margin-top: 1.5rem;
}

.login-footer a {
    color: #007bff;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}